
<!--
Lower Header Section
-->
<div class="ttt">
<div class="container">
  <div id="gototop"> </div>
  <header id="header">
    <div class="row">
      <div class="span4">
        <h1>
          <a class="logo" href="index.html"><span>Twitter Bootstrap ecommerce template</span>
            <img src="src/assets/userlanding/img/logo-bootstrap-shoping-cart.png" alt="bootstrap sexy shop">
          </a>
        </h1>
      </div>
      <div class="span4">
        <div class="offerNoteWrapper">
          <h1 class="dotmark">
            <i class="icon-cut"></i>
            Twitter Bootstrap shopping cart HTML template is available @ $14
          </h1>
        </div>
      </div>
      <div class="span4 alignR">
        <p><br> <strong> Support (24/7) :  0800 1234 678 </strong><br><br></p>
        <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
        <span class="btn btn-warning btn-mini">$</span>
        <span class="btn btn-mini">&pound;</span>
        <span class="btn btn-mini">&euro;</span>
      </div>
    </div>
  </header>

  <!--
  Navigation Bar Section
  -->
  <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <!-- <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a> -->
            <ul class="nav">
              <!--<li class="active"><a href="index.html">Home	</a></li>-->
              <li class=""><a routerLink="" routerLinkActive="active">Home</a></li>
              <li class=""><a routerLink="/aboutshopcart" routerLinkActive="active">About Us</a></li>
              <li class=""><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
            </ul>
            <!-- <form action="#" class="navbar-search pull-left">
              <input type="text" placeholder="Search" class="search-query span2">
            </form> -->
            <ul class="nav pull-right men">
                <li class=""><a routerLink="/contactus" routerLinkActive="active">Upcoming Products</a></li>
                <li class=""><a routerLink="/contactus" routerLinkActive="active">Current Product On Auction</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                <div class="dropdown-menu">
                  <form class="form-horizontal loginFrm" [formGroup]="userAccessForm" (ngSubmit)="onSubmitUserAccess()">
                      <div class="form-group">
                      <input type="text" class="span2" id="inputEmail" formControlName="email" placeholder="Email">
                    </div>
                    <div class="control-group">
                      <input type="password" class="span2" id="inputPassword" formControlName="password" placeholder="Password">
                    </div>
                    <div class="control-group">
                      <!-- <label class="checkbox">
                        <input type="checkbox"> Remember me
                      </label> -->
                      <button type="submit" class="shopBtn btn-block">Sign in</button>
                    </div>
                  </form>
                </div>
              </li>
              <li class="">
                <a routerLink="/registerpage" routerLinkActive="active"><span class="icon-lock"></span> Register <b class="caret"></b></a>
              </li>
              <li class=""><a routerLink="/contactus" routerLinkActive="active">Logout</a></li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!--
  Body Section
  -->
  <div class="row">
    <div class="col-lg-3">
    <div id="sidebar" class="span3">
      <div class="well well-small">
        <ul class="nav nav-list">
          <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Watches</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Fine Jewelry</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion Jewelry</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Engagement & Wedding</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Men's Jewelry</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Vintage & Antique</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Diamonds </a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Beads</a></li>
          <li><a href="products.html"><span class="icon-chevron-right"></span>See All Jewelry & Watches</a></li>
          <li style="border:0"> &nbsp;</li>
          <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
        </ul>
      </div>

      <div class="well well-small alert alert-warning cntr">
        <h2>50% Discount</h2>
        <p>
          only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
        </p>
      </div>
      <div class="well well-small" ><a href="#"><img src="src/assets/userlanding/img/paypal.jpg" alt="payment method paypal"></a></div>

      <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
      <br>
      <br>
      <ul class="nav nav-list promowrapper">
        <li>
          <div class="thumbnail">
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <img src="src/assets/userlanding/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
            <div class="caption">
              <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
            </div>
          </div>
        </li>
        <li style="border:0"> &nbsp;</li>
        <li>
          <div class="thumbnail">
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <img src="src/assets/userlanding/img/shopping-cart-template.png" alt="shopping cart template">
            <div class="caption">
              <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
            </div>
          </div>
        </li>
        <li style="border:0"> &nbsp;</li>
        <li>
          <div class="thumbnail">
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <img src="src/assets/userlanding/img/bootstrap-template.png" alt="bootstrap template">
            <div class="caption">
              <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
            </div>
          </div>
        </li>
      </ul>

    </div>
    </div>

    <div class="col-lg-9">
    <div class="span9">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Login</li>
      </ul>
      <h3> Login</h3>
      <hr class="soft"/>

      <div class="row">
        <div class="span4">
          <div class="well">
            <h5>Create Your Account</h5>
            <form [formGroup]="userLoginForm" (ngSubmit)="onSubmitUserLogin()">
              <div class="form-group">
                <label class="control-label" for="inputEmail">Email<span class="req">*</span> :</label>
                <div class="controls">
                  <input class="span3"  type="text" formControlName="username" placeholder="username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputPassword">Password<span class="req">*</span> :</label>
                <div class="controls">
                  <input type="password" class="span3" formControlName="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" >Phone Number<span class="req">*</span> :</label>
                <div class="controls">
                  <input type="Number" class="span3" formControlName="phonenumber" placeholder="Phone Number">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="defaultBtn">Sign in</button> <a href="#">Forget password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="span1"> &nbsp;</div>
        <div class="span4">
          <div class="well">
            <h5>Already Registered?</h5><br/>
            Enter your e-mail address to log into your account.<br/><br/><br/>
            <form [formGroup]="userAccessForm" (ngSubmit)="onSubmitUserAccess()">
              <div class="form-group">
                <label class="control-label" for="inputEmail">Email<span class="req">*</span> :</label>
                <div class="controls">
                  <input class="span3"  type="text" formControlName="username" placeholder="username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputEmail">Password<span class="req">*</span> :</label>
                <div class="controls">
                  <input class="span3"  type="password" formControlName="password" placeholder="Password">
                </div>
              </div>
              <div class="controls">
                <button type="submit" class="btn block">Login To Your Account</button>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
    </div>
    </div>
 <!-- 
  Clients 
  -->
  <section class="our_client">
    <hr class="soften"/>
    <h4 class="title cntr"><span class="text">OUR PARTNERS</span></h4>
    <hr class="soften"/>
    <div class="row">
      <div class="span2">
        <a href="#"><img alt="" src="src/assets/userlanding/img/1.png"></a>
      </div>
      <div class="span2">
        <a href="#"><img alt="" src="src/assets/userlanding/img/2.png"></a>
      </div>
      <div class="span2">
        <a href="#"><img alt="" src="src/assets/userlanding/img/3.png"></a>
      </div>
      <div class="span2">
        <a href="#"><img alt="" src="src/assets/userlanding/img/4.png"></a>
      </div>
      <div class="span2">
        <a href="#"><img alt="" src="src/assets/userlanding/img/5.png"></a>
      </div>
      <div class="span2">
        <a href="#"><img alt="" src="src/assets/userlanding/img/6.png"></a>
      </div>
    </div>
  </section>
  
  <!--
  Footer
  -->
  <footer class="footer">
  <div class="row-fluid">
  <div class="span4">
  <h5>Your Account</h5>
  <a href="#">YOUR ACCOUNT</a><br>
  <a href="#">PERSONAL INFORMATION</a><br>
  <!-- <a href="#">ADDRESSES</a><br> -->
  <!-- <a href="#">DISCOUNT</a><br> -->
  <a href="#">ORDER HISTORY</a><br>
   </div>
  <div class="span4">
  <h5>Iinformation</h5>
  <a href="contact.html">CONTACT US</a><br>
  <a href="#">ABOUT US</a><br>
  <!-- <a href="#">SITEMAP</a><br> -->
  <!-- <a href="#">LEGAL NOTICE</a><br> -->
  <!-- <a href="#">TERMS AND CONDITIONS</a><br> -->
   </div>
  <div class="span4">
  <h5>Our Offer</h5>
  <a href="#">NEW PRODUCTS</a> <br>
  <a href="#">TOP SELLERS</a><br>
  <a href="#">SPECIALS</a><br>
  <a href="#">MANUFACTURERS</a><br>
  <a href="#">SUPPLIERS</a> <br/>
   </div>
  
   </div>
  </footer>
  </div><!-- /container -->
  
  <div class="copyright">
  <div class="container">
    <p class="pull-right">
      <a href="#"><img src="src/assets/userlanding/img/maestro.png" alt="payment"></a>
      <a href="#"><img src="src/assets/userlanding/img/mc.png" alt="payment"></a>
      <a href="#"><img src="src/assets/userlanding/img/pp.png" alt="payment"></a>
      <a href="#"><img src="src/assets/userlanding/img/visa.png" alt="payment"></a>
      <a href="#"><img src="src/assets/userlanding/img/disc.png" alt="payment"></a>
    </p>
    <!-- <span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span> -->
  </div>
  </div>
  <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="assets/js/jquery.js"></script>-->
<!--<script src="assets/js/bootstrap.min.js"></script>-->
<!--<script src="assets/js/jquery.easing-1.3.min.js"></script>-->
<!--<script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>-->
<!--<script src="assets/js/shop.js"></script>-->
<!--</body>-->
<!--</html>-->

<form [formGroup]="productsForm" (ngSubmit)="onSubmit()">

  <div class="modal-header card-header">
    <h5 class="modal-title" id="smallmodalLabel">Add Product</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<div class="card">-->
    <!--<div class="card-body card-block">-->
    <div class="login-form">

      <div class="form-group">
        <label>Product Name<span class="req">*</span> :</label>
        <input class="au-input au-input--full" type="text" formControlName="productname" placeholder="Enter Product Name">
      </div>
      <div class="form-group">
        <label>Product Code<span class="req">*</span> :</label>
        <input class="au-input au-input--full" type="number" formControlName="productcode"  placeholder="Enter Product Code">
      </div>
      <div class="form-group">
        <label>Minimun Auction Price<span class="req">*</span> :</label>
        <input class="au-input au-input--full" type="number" formControlName="minauctionprice" placeholder="Minimum Auction Price">
      </div>
      <div class="form-group">
        <label>Description<span class="req">*</span> :</label>
        <textarea formControlName="description" placeholder="Enter Product Description" class="au-input au-input--full">

                </textarea>
      </div>
      <div class="form-group">
        <label>Product Image<span>*</span> :</label>
        <input class="au-input au-input--full" type="number" formControlName="productimage" placeholder="Enter Product Image Here">
      </div>
      <div class="form-group">
        <label>Auction Date<span class="req">*</span> :</label>
        <input class="au-input au-input--full" type="number" formControlName="auctiondate" placeholder="Enter Auction Here">
      </div>
      <div class="form-group">
        <label>Auction Time<span class="req">*</span> :</label>
        <input class="au-input au-input--full" type="number" formControlName="auctiontime" placeholder="Enter Auction Time Here">
      </div>

    </div>

    <!--</div>-->
    <!--</div>-->
  </div>
  <div class="modal-footer card-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" type="submit" >Add Product

      <i class="fa fa-spin fa-spinner" *ngIf="load?.requesting"></i>
    </button>
  </div>
</form>
</div>
