<!--<app-firstpage></app-firstpage>-->
<!--<app-adminproductstable></app-adminproductstable>-->
<!-- <app-adminbasicpage></app-adminbasicpage> -->
<!-- <app-ecommercepage></app-ecommercepage> -->



 <!--<app-adminproductstable></app-adminproductstable>-->
<!-- <app-adminuserstable></app-adminuserstable> -->
<!--<app-userlogin></app-userlogin>-->
  <!--<app-adminsidebar></app-adminsidebar>-->
<!--<app-adminproductstable></app-adminproductstable>-->
 <!--<app-adminuserstable></app-adminuserstable>-->
<!--<app-newproductsdetails></app-newproductsdetails>-->
<!-- <app-aboutshopcart></app-aboutshopcart> -->
<!--<app-productdetails></app-productdetails>-->
<router-outlet></router-outlet>
 <!--<app-loginpage></app-loginpage>-->
<!--<app-companypage></app-companypage>-->
<!-- <app-registerpage></app-registerpage> -->
<!--<app-userlanding></app-userlanding>-->
<!-- <app-userlogin></app-userlogin> -->
 <!--<app-adminheadingbar></app-adminheadingbar>-->
