.ty { width: 100%; padding: 0px; }
.uu { height: 150px; }
/*.btn4img { padding-left: 300px; }*/
.btn4images { padding-left: 12px; }
.carouselcover { max-height: 1200px; }
/*.cardcarouselsize { max-height: 300px; }*/
.newcarou { max-height: 180px; max-width: 180px; background-color: #0b2e13; }
